@{
    var errors = new ModelErrorCollection();
    var fieldValue = string.Empty;
    var modelState = (TempData["ModelState"]?.ToString() ?? string.Empty).DeserializeModelState();

    if (modelState.TryGetValue((string)Model.Question.Name, out var fieldEntry))
    {
        errors = fieldEntry.Errors;
        fieldValue = fieldEntry.AttemptedValue;
    }
}

<div class="form-group">
    <label for="@Model.Question.Name">
        @Model.Question.Label @if (Model.Question.Required)
        {<span class="required">*</span>}
    </label>

    @if (!string.IsNullOrEmpty(Model.Question.Description))
    {
        <span id="@Model.Question.Name-hint" class="hint">
            @Html.Raw(Model.Question.Description)
        </span>
    }

    <select 
        class="select"
        id="@Model.Question.Name"
        name="@Model.Question.Name"
        value="@fieldValue"
        @if (!string.IsNullOrEmpty(Model.Question.Description)) { <text> aria-describedby="@Model.Question.Name-hint" </text> }
        @if (Model.Question.Required) { <text>required</text> }>
        <option value="">@T["Please select"]</option>

        @foreach (var option in Model.Question.Values)
        {
            @if (option.Value.ToString() == fieldValue)
            {
                 <option value="@option.Value" selected>@option.Label</option>
            }
            else
            {
                <option value="@option.Value">@option.Label</option>
            }
        }
    </select>

    @foreach (var error in errors)
    {
        <div class="text--danger">@error.ErrorMessage</div>
    }
</div>