@{
    var errors = new ModelErrorCollection();
    var fieldValue = Array.Empty<string>();
    var modelState = (TempData["ModelState"]?.ToString() ?? string.Empty).DeserializeModelState();

    if (modelState.TryGetValue((string)Model.Question.Name, out var fieldEntry))
    {
        errors = fieldEntry.Errors;
        fieldValue = fieldEntry.AttemptedValue?.Split(",", StringSplitOptions.RemoveEmptyEntries) ?? Array.Empty<string>();
    }
}

<div class="form-group">
    <label for="@Model.Question.Name">
        @Model.Question.Label @if (Model.Question.Required)
        {<span class="required">*</span>}
    </label>

    @if (!string.IsNullOrEmpty(Model.Question.Description))
    {
        <span id="@Model.Question.Name-hint" class="hint">
            @Html.Raw(Model.Question.Description)
        </span>
    }

    <div class="checkboxes">
        @for (var i = 0; i < Model.Question.Values.Length; i++)
        {
        <div class="checkboxes__item">
            <input 
                class="checkboxes__input" 
                id="@Model.Question.Name-@i" 
                name="@Model.Question.Name" 
                type="checkbox"
                value="@Model.Question.Values[i].Value"
                @if (fieldValue.Any(x => x.Equals(Model.Question.Values[i].Value.ToString()))) { <text>checked</text> }
            />

            <label class="label checkboxes__label" for="@Model.Question.Name-@i">
                @Model.Question.Values[i].Label
            </label>
        </div>
        }
    </div>

    @foreach (var error in errors)
    {
        <div class="text--danger">@error.ErrorMessage</div>
    }
</div>