<div class="form-group">
    <fieldset class="fieldset" {% if Model.Description %} aria-describedby="{{ Model.Name }}-hint" {% endif %}>
        <legend class="fieldset__legend">
            <h3 class="fieldset__heading">
                {{ Model.Label }} {% if Model.Required %} <span class="required">*</span> {% endif %}
            </h3>
        </legend>

        {% if Model.Description %}
        <span id="{{ Model.Name }}-hint" class="hint">
            {{ Model.Description | raw }}
        </span>
        {% endif %}

        <div class="checkboxes">
            {% for option in Model.Values %}
            <div class="checkboxes__item">
                <input class="checkboxes__input" id="{{ Model.Name }}" name="{{ Model.Name }}" type="checkbox" value="{{ option.Value }}">
                <label class="label checkboxes__label" for="{{ Model.Name }}">
                    {{ option.Label }}
                </label>
            </div>
            {% endfor %}
        </div>
    </fieldset>
</div>
