@{
    var errors = new ModelErrorCollection();
    var fieldValue = string.Empty;
    var modelState = (TempData["ModelState"]?.ToString() ?? string.Empty).DeserializeModelState();
    var fieldName = Model.Fields[0].Name;

    if (modelState.TryGetValue((string)fieldName, out var fieldEntry))
    {
        errors = fieldEntry.Errors;
        fieldValue = fieldEntry.AttemptedValue;
    }
}

<div class="form-group @(errors.Any() ? "is-error" : "")">
    <label for="@fieldName">
        @Model.Question.Label @if (Model.Question.Required)
        {<span class="required">*</span>}
    </label>

    @if (!string.IsNullOrEmpty(Model.Question.Description))
    {
        <span id="@fieldName-hint" class="hint">
            @Html.Raw(Model.Question.Description)
        </span>
    }

    <textarea 
        id="@fieldName"
        name="@fieldName"
        @if (!string.IsNullOrEmpty(Model.Question.Description)) { <text> aria-describedby="@fieldName-hint" </text> }
        @if (Model.Question.Required) { <text>required</text> }>@fieldValue</textarea>

    @foreach (var error in errors)
    {
        <div class="form-group__error">@error.ErrorMessage</div>
    }
</div>
