<div class="form-group">
	<label for="{{ Model.Name }}">
        {{ Model.Label }} {% if Model.Required %} <span class="required">*</span> {% endif %}
    </label>

	{% if Model.Description %}
        <span id="{{ Model.Name }}-hint" class="hint">
            {{ Model.Description | raw }}
        </span>
    {% endif %}

	<input type="file" id="{{ Model.Name }}" {% if Model.Description %} aria-describedby="{{ Model.Name }}-hint" {% endif %} {% if Model.Required %}required="true"{% endif %}>
</div>