@{
    var errors = new ModelErrorCollection();
    var fieldValue = string.Empty;
    var modelState = (TempData["ModelState"]?.ToString() ?? string.Empty).DeserializeModelState();
    var fieldName = Model.Fields[0].Name;

    if (modelState.TryGetValue((string)fieldName, out var fieldEntry))
    {
        errors = fieldEntry.Errors;
        fieldValue = fieldEntry.AttemptedValue;
    }
}

<div class="form-group">
    <label for="@fieldName">
        @Model.Question.Label @if (Model.Question.Required)
        {<span class="required">*</span>}
    </label>

    @if (!string.IsNullOrEmpty(Model.Question.Description))
    {
        <span id="@fieldName-hint" class="hint">
            @Html.Raw(Model.Question.Description)
        </span>
    }

    <input type="file"
           accept="@string.Join(",", Model.FormSettings.AllowedFileExtensions)"
           id="@fieldName"
           name="@fieldName"
           value="@fieldValue"
           @if (!string.IsNullOrEmpty(Model.Question.Description)) { <text> aria-describedby="@fieldName-hint" </text> }
           @if (Model.Question.Required) { <text>required</text> } />

    @foreach (var error in errors)
    {
        <div class="text--danger">@error.ErrorMessage</div>
    }
</div>