<div class="form-group">
  <label for="{{ Model.Name }}">
    {{ Model.Label }} {% if Model.Required %} <span class="required">*</span> {% endif %}
  </label>

  {% if Model.Description %}
  <span id="{{ Model.Name }}-hint" class="hint">
    {{ Model.Description | raw }}
  </span>
  {% endif %}

  <select class="select" id="{{ Model.Name }}" name="{{ Model.Name }}" {% if Model.Required %}required="true"{% endif %}>
    <option value="">{{ "Please select" | t }}</option>

    {% for option in Model.Values %}
    <option value="{{ option.Value }}">{{ option.Label }}</option>
    {% endfor %}
  </select>
</div>
