@model Etch.OrchardCore.Greenhouse.ViewModels.GreenhousePostingFormPartSettingsViewModel


<div class="form-group">
    <div class="custom-control custom-checkbox">
        <input asp-for="ShowApplicationForm" type="checkbox" class="custom-control-input content-preview-select" checked="@Model.ShowApplicationForm" />
        <label class="custom-control-label" asp-for="ShowApplicationForm">
            @T["Show application form"]
            <span class="hint dashed">@T["When checked, users will be able to apply for job posting directly on this website."]</span>
        </label>
    </div>
</div>

<div class="form-group">
    <label asp-for="ApplicationSuccessUrl">@T["Application Success URL"]</label>
    <input asp-for="ApplicationSuccessUrl" class="form-control" />
    <span class="hint">@T["URL applicant is redirected to after successfully applying for a posting."]</span>
</div>

<h4>Form UI</h4>

<div class="form-group">
    <label asp-for="ValidationErrorsMessage">@T["Validation Errors Message"]</label>
    <input asp-for="ValidationErrorsMessage" class="form-control" />
    <span class="hint">@T["Feedback displayed to user when there are validation errors to resolve."]</span>
</div>

<div class="form-group">
    <label asp-for="ApplicationErrorMessage">@T["Application Error Message"]</label>
    <input asp-for="ApplicationErrorMessage" class="form-control" />
    <span class="hint">@T["Feedback displayed to user when there is a technical error when submitting their application."]</span>
</div>

<div class="form-group">
    <label asp-for="SubmitButtonLabel">@T["Submit Button Label"]</label>
    <input asp-for="SubmitButtonLabel" class="form-control" />
    <span class="hint">@T["Label for button used to submit an application."]</span>
</div>

<h4>Attachments</h4>

<div class="form-group">
    <label asp-for="AllowedFileExtensions">@T["Allowed File Extensions"]</label>
    <input asp-for="AllowedFileExtensions" class="form-control" />
    <span class="hint">@T["Comma separated list of file extensions that are accepted with job application (e.g. .doc, .docx, .pdf)."]</span>
</div>

<div class="form-group">
    <label asp-for="MaxFileSize">@T["Max File Size"]</label>
    <input asp-for="MaxFileSize" class="form-control" />
    <span class="hint">@T["Maximum file size (in bytes) for files that are attached to job application."]</span>
</div>