@model Etch.OrchardCore.Greenhouse.ViewModels.GreenhouseSettingsViewModel

<div class="form-group">
    <label asp-for="ApiHostname">@T["API Hostname"]</label>
    <input asp-for="ApiHostname" class="form-control" />
    <span class="hint">@T["It's recommended to not edit this value. Leave blank to use default."]</span>
</div>

<div class="form-group">
    <label asp-for="ApiKey">@T["API Key"]</label>
    <input asp-for="ApiKey" class="form-control" />
    <span class="hint">@T["API key used to authenticate with the Greenhouse API, <a href=\"https://support.greenhouse.io/hc/en-us/articles/360003470371-Generate-Greenhouse-Onboarding-API-key\">find out how to generate one</a>."]</span>
</div>

<div class="form-group">
    <label asp-for="OnBehalfOfId">@T["Application Greenhouse User ID"]</label>
    <input asp-for="OnBehalfOfId" type="number" class="form-control" />
    <span class="hint">@T["Required for auditing purposes, a Greenhouse user ID is included with API requests that create new candidates."]</span>
</div>

<div class="form-group">
    <label asp-for="BoardUrl">@T["Board URL"]</label>
    <input asp-for="BoardUrl" type="number" class="form-control" />
    <span class="hint">@T["URL to job board on Greenhouse."]</span>
</div>