@model Etch.OrchardCore.Greenhouse.ViewModels.GreenhousePostingPartEditViewModel

@{
    var jobId = Guid.NewGuid();
    var postingId = Guid.NewGuid();
}

<script asp-src="~/Etch.OrchardCore.Greenhouse/Scripts/ace/ace.js" asp-name="ace" at="Foot" asp-append-version="true"></script>

<script at="Foot">
    (function () {
        var editor = window.ace.edit('@jobId'),
            $input = document.querySelector('.editor-@jobId');
        editor.setTheme('ace/theme/crimson_editor');
        editor.session.setMode('ace/mode/javascript');
        editor.setOptions({
            autoScrollEditorIntoView: true,
            maxLines: 80,
            showPrintMargin: false
        });
        editor.renderer.setScrollMargin(10, 10, 10, 10);
        editor.session.on('change', function () {
            $input.value = editor.session.getValue();
            $(document).trigger('contentpreview:render');
        });

        var postEditor = window.ace.edit('@postingId'),
            $postInput = document.querySelector('.editor-@postingId');
        postEditor.setTheme('ace/theme/crimson_editor');
        postEditor.session.setMode('ace/mode/javascript');
        postEditor.setOptions({
            autoScrollEditorIntoView: true,
            maxLines: 80,
            showPrintMargin: false
        });
        postEditor.renderer.setScrollMargin(10, 10, 10, 10);
        postEditor.session.on('change', function () {
            $postInput.value = postEditor.session.getValue();
            $(document).trigger('contentpreview:render');
        });
    })();
</script>

<style>
    .ace_editor {
        border: 1px solid lightgray;
        margin: auto;
        height: 200px;
        width: 100%;
    }
</style>

<div class="mb-3">
    <div class="form-check">
        <input asp-for="IgnoreSync" type="checkbox" class="form-check-input content-preview-select" checked="@Model.IgnoreSync" />
        <label class="form-check-label" asp-for="IgnoreSync">
            @T["Ignore during sync"]
            <span class="hint dashed">@T["Use when changes have been made that should not be overwritten when syncing."]</span>
        </label>
    </div>
</div>

<div class="mb-3">
    <label asp-for="PostingData">Posting Data</label>
    <pre id="@postingId">@Model.PostingData</pre>
    <input asp-for="PostingData" type="hidden" class="editor-@postingId" />
</div>

<div class="mb-3">
    <label asp-for="JobData">Job Data</label>
    <pre id="@jobId">@Model.JobData</pre>
    <input asp-for="JobData" type="hidden" class="editor-@jobId" />
</div>