{% assign greenhousePostings = Model.ContentItem.Content.GreenhousePostings %}

{% assign pageSize = "12" %}
{% assign originalPageSize = "12" %}

{% assign pinnedPostingIds = greenhousePostings.PinnedPostings.ContentItemIds %}
{% assign pinnedPostings = pinnedPostingIds | content_item_id %}

{% if greenhousePostings.PageSize.Value != blank %}
    {% assign pageSize = greenhousePostings.PageSize.Value %}
    {% assign originalPageSize = greenhousePostings.PageSize.Value %}
{% endif %}

{% assign query = greenhousePostings.Source.Value %}
{% assign paging = greenhousePostings.Paging.Value %}

{% assign allPostings = Queries.AllGreenhousePostings | query %}

{% assign location = greenhousePostings.LocationPrefill.Text %}
{% assign department = greenhousePostings.DepartmentPrefill.Text %}

{% if Request.Query.location != nil %}
    {% assign location = Request.Query.location | first %}
{% endif %}

{% if Request.Query.department != nil %}
    {% assign department = Request.Query.department | first %}
{% endif %}

{% assign page = Request.Query["page"] | first | at_least: 1 %}
{% assign fromValue = page | times: pageSize | minus: pageSize  | at_least: 0 %}

{% assign showPinned = location == blank and department == blank and page == 1 %}

{% if showPinned %}
    {% assign pageSize = pageSize | minus: pinnedPostings.size  %}
{% else %}
    {% assign fromValue = fromValue | minus: pinnedPostings.size %}
{% endif %}

{% assign totalItems = Queries[query] | query: size: 10000, department: department, location: location %}

{% assign fetchCount = pageSize | plus: 1 %}

{% if pageSize > 0 %}
    {% assign items = Queries[query] | query: size: fetchCount, from: fromValue, department: department, location: location, excludedIds: pinnedPostingIds %}
{% endif %}

{% assign pageUrl = Request.PathBase | append: Request.Path %}
{% assign pageUrl = pageUrl | append: "?" %}

{% if department != null %}
    {% assign pageUrl = pageUrl | append: "department=" | append: department | append: "&" %}
{% endif %}

{% if location != null %}
    {% assign pageUrl = pageUrl | append: "location=" | append: location | append: "&" %}
{% endif %}

{% assign hideDepartment = greenhousePostings.HideDepartmentFilter.Value %}
{% assign hideLocation = greenhousePostings.HideLocationFilter.Value %}
{% assign hideResultsSummary = greenhousePostings.HideResultsSummary.Value %}

{% assign departmentLabel = greenhousePostings.DepartmentLabel.Text | default: "Department" %}
{% assign locationLabel = greenhousePostings.LocationLabel.Text | default: "Location" %}
{% assign submitLabel = greenhousePostings.SubmitLabel.Text | default: "Update" %}
{% assign nextPageLabel = greenhousePostings.NextPageLabel.Text | default: "Next postings" %}
{% assign previousPageLabel = greenhousePostings.PreviousPageLabel.Text | default: "Previous postings" %}

{% assign cssClasses = "content-feed content-feed--jobs js-analytics-list js-filterable-jobs" %}

{% assign styles = "" %}

<div    id="postings" 
        class="{{ cssClasses }}" 
        style="{{ styles }}" 
        data-list="{{ Model.ContentItem | displayText }}"
        data-base-url="{{ Request.PathBase }}" 
        data-query="{{ query }}" 
        data-page-size="{{ originalPageSize }}">
    {% if hideHeader == false %}
        <header class="content-feed__header">
            <h2 class="content-feed__title">{{ Model.ContentItem | displayText }}</h2>
        </header>
    {% endif %}

    {% if hideDepartment == false or hideLocation == false %}
    <form method="get" action="#postings" class="content-feed__filters js-filterable-jobs-form">
        {% if hideLocation == false %}
        <div class="content-feed__filter">
            <label for="location">
                {{ locationLabel }}
            </label>
            <select id="location" name="location" class="js-filterable-jobs-filter">
                {{ allPostings | greenhouse_location_options: location | raw }}
            </select>
        </div>
        {% endif %}

        {% if hideDepartment == false %}
            <div class="content-feed__filter">
                <label for="department">
                    {{ departmentLabel }}
                </label>
                <select id="department" name="department" class="js-filterable-jobs-filter">
                    {{ allPostings | greenhouse_department_options: department | raw }}
                </select>
            </div>
        {% endif %}

        <div class="content-feed__filter js-job-filter-button">
            <button type="submit" class="btn btn--primary">
                {{ submitLabel }}
            </button>
        </div>
    </form>
    {% endif %}

    {% if hideResultsSummary == false %}
        <div class="content-feed__summary">
            <h3><span class="js-filterable-jobs-total">{{ totalItems | size }}</span> {{ "results" | t}}</h3>
        </div>
    {% endif %}

    {% if items.size > 0 or pinnedPostings.size > 0 %}
        <div class="content-feed__list content-feed__list--{{ greenhousePostings.Columns.Text }}-cols columns--{{ greenhousePostings.Columns.Text }} js-filterable-jobs-items">
            {% if showPinned %}
                {% for item in pinnedPostings %}
                    <div class="content-feed__item is-pinned">
                        {{ item | shape_build_display: "Summary" | shape_render }}
                    </div>
                {% endfor %}
            {% endif %}

            {% for item in items %}
                {% if forloop.last == false or items.size <= pageSize %}
                    <div class="content-feed__item">
                        {{ item | shape_build_display: "Summary" | shape_render }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% if paging %}
        <ul class="content-feed__pager pager margin--bottom-large js-filterable-jobs-pager">
            {% assign prevPage = page | minus: 1 %}
            <li {% if prevPage == 0 %}class="display--none"{% endif %}>
                <a href="{{ pageUrl | append: "page=" | append: prevPage | append: "#postings" }}" class="js-filterable-jobs-pager-prev-btn">
                    {{ previousPageLabel }}
                </a>
            </li>

            {% assign nextPage = page | plus: 1 %}
            <li {% if items.size <= pageSize %}class="display--none"{% endif %}>
                <a href="{{ pageUrl | append: "page=" | append: nextPage | append: "#postings" }}" class="js-filterable-jobs-pager-next-btn">
                    {{ nextPageLabel }}
                </a>
            </li>
        </ul>
    {% endif %}
</div>
